{% load static %}

<!doctype html>
<html lang="pt-br">
    <head>
        <title> pagina de exemplo estrutura basica </title>
        <meta charset="utf-8">
        {% include 'common/link.html' %}
</head>

<body>
        
<header>
    {% include 'common/header.html' %}
    
</header>
       
<div class="container">
    <form>
        <div class="form-group">
            <label for="form_login">Login</label>
            <input id="form_login" type="text" class="form-control" autofocus>
        </div>
        <div class="form-group">
            <label for="form_senha">Senha</label>
            <input id="form_senha" type="text" class="form-control">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="id_check">
            <label for="id_check" class="form-check-label">Permanecer Logado</label>
        </div>
        <a class="btn btn-dark float-right" href="{% url 'relatorio' %}">Acessar</a>
    </form>   

</div>
{% include 'common/script.html' %}
</body>
</html>  