{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title> pagina de exemplo estrutura basica </title>
        <meta charset="utf-8">
        {% include 'common/link.html' %}
</head>

<body>
        
<header>
    {% include 'common/header.html' %}
</header>
       
<div class="container">
    <form>
            <div class="form-group">
                <label for="form_nome">Nome</label>
                <input type="text" id="form_nome" class="form-control" autofocus>
            </div>
            
            <div class="form-group">
                <label for="form_email">Email</label>
                <input id="form_email" type="email" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="form_mensagem">Deixe sua mensagem</label>
                <textarea id="form_mensagem" class="form-control" rows=6></textarea>
            </div>
            <button type="submit" class="btn btn-dark float-right">Enviar</button>
        </form>

</div>
{% include 'common/script.html' %}
</body>
</html>  