{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title> pagina de exemplo estrutura basica </title>
        <meta charset="utf-8">
        {% include 'common/link.html' %}
</head>

<body>
        
<header>
  {% include 'common/header.html' %}  


</header>
       
<div class="container">
    {% include 'common/banner/banner.html' %}

</div>
<footer>
    {% include 'common/footer.html' %}
</footer>
  {% include 'common/script.html' %}
</body>
</html>                                             