{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title> pagina de exemplo estrutura basica </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
</head>

<body>
        
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img id="minhalogo" src="{% static 'img/images.png'%} ">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quem_somos' %}">Quem Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contato' %}">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'parceiro' %} ">Parceiros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'acessar_conta'%}">Acessar Conta</a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="facebook">
                   <i class="fab fa-facebook-square"></i></a>
            </li>
            
        </ul>
      <ion-icon name="logo-facebook" src="img/facebook.svg"></ion-icon>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
   
    </nav>


</header>
       
<div class="container border">
    <div class="h2 text-center">
        <label>Nossos Parceiros</label>
    </div>
<div>
    <div class="card-group">
    <div class="card-1 bg-dark text-light mr-5" style="max-width: 18rem;">
  <img src="{% static 'img/comida_chinesa.jpg'%}" class="card-img-top" alt="chinesa">
  <div class="card-body">
    <h5 class="card-title">Tofu Recheado</h5>
    <p class="card-text"> Tofu Recheado, Irresístivel do começo ao fim!</p>
    <a href="#" class="btn btn-primary">Go</a>
  </div>
</div>
    <div class="card-2 text-white bg-danger mr-5" style="max-width: 18rem;">
  <img src="{% static 'img/comida_mexicana.jpg' %} " class="card-img-top" alt="mexicana">
  <div class="card-body">
    <h5 class="card-title">Chilli Beans</h5>
    <p class="card-text">Chilli Beans, Alimentando por várias gerações</p>
    <a href="#" class="btn btn-primary">Go </a>
  </div>
</div>
    <div class="card-3 text-white bg-secondary mr-5" style="max-width: 18rem;">
  <img src="{% static 'img/jo%C3%A3o_sapatos.jpg' %} " class="card-img-top" alt="joão">
  <div class="card-body">
    <h5 class="card-title">João Calçados</h5>
    <p class="card-text">você escolhe: seguir a moda ou fazer a moda. Aposte no seu estilo</p>
    <a href="#" class="btn btn-primary">Go </a>
  </div>
</div>
    </div>

<script type="script"  src="{% static 'js/jquery-3.4.1.min.js' %} "></script>
<script type="script"  src="{% static 'js/bootstrap.min.js' %} "></script>
<script type="script"  src="{% static 'js/ionicons.js' %} "></script>
</body>
</html>                                             