{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title> pagina de exemplo estrutura basica </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
</head>

<body>
        
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img id="minhalogo" src="{% static 'img/images.png'%} ">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'quem_somos' %}">Quem Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contato' %}">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'parceiro' %} ">Parceiros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'acessar_conta'%}">Acessar Conta</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="facebook">
                   <i class="fab fa-facebook-square"></i></a>
            </li>
        </ul>
     
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    </nav>


</header>
<!doctype html>
<html lang="pt-br">
    <head>
        <title> pagina de exemplo estrutura basica </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        
    </head>
    <body>
        <h5 class="laranja">Quem Somos</h5>
        <h1 class="laranja-pera">O e-Contas lhe Ajuda a Organizar Suas Contas em dia</h1>
        <p></p>
        <p></p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 bg-dark">
                    <div class = "row">
                        <div class="col-md-12 bg-warning">
                            <img src= "{% static 'img/logo.jpg' %}" class="rounded float-left" alt="">
                        </div>
                        <div class= "col-md-12 bg-primary">
                            <img src="{% static 'img/images.jpg' %}" class="rounded float-left mx-auto d-block" alt="">
                        </div>
                    </div>      
                </div>
                <div class="col-md-6 bg-info">
                    <img src="{% static 'img/josecalcados.jpg' %}" class="rounded float-right" alt="">
                </div>
            </div>
        </div>
            
            <h5 class="laranja">Não é falta de tempo que nos persegue, é a falta de organização.</h5>
        
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
       
<div class="container">

</div>
<script type="script"  src="{% static 'js/jquery-3.4.1.min.js' %} "></script>
<script type="script"  src="{% static 'js/bootstrap.min.js' %} "></script>
<script type="script"  src="{% static 'js/ionicons.js' %} "></script>
</body>
</html>  