{% load static %}

<div class="footer-top bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                <h3>e-Contas</h3>
                <p>Minions ipsum poulet tikka masala ti aamoo! Wiiiii chasy. Belloo! wiiiii abelha fazer abelha fazer potatoooo. Aaaaaah bunda wiiiii bananaaaa poopayee uuuhhh. Abelha fazer abelha fazer underweaaar poulet tikka masala jiji hahaha abelha fazer abelha fazer wiiiii daa. Po kas poopayee poopayee bunda aaaaaah uuuhhh pepete baboiii tulaliloo ti aamoo! Aaaaaah Poopayee bappleees abelha fazer abelha fazer abelha me uuuhhh quero bananaaa! Potatoooo</p>
            </div><div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                        <h2>e-Contas</h2>
                        <ul>
                            <li class="border-bottom"><a href="#">Evento</a></li>
                            <li class="border-bottom"><a href="#">suporte</a></li>
                            <li class="border-bottom"><a href="#">Hospedagem</a></li>
                            <li class="border-bottom"><a href="#">Carreira</a></li>
                            <li class="border-bottom"><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                        <h2>FOLLOW US</h2>
                        <p>Please follow us our Social Media Profile in order to keep update.</p>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                        <h2>Nosso boletim informativo</h2>
                        <p>Please follow us our Social Media Profile in order to keep update. Minions ipsum dolor sit amet, consectetur adipisicing elit. EX, libero.</p>
                        <form action="">
                            <input type="email">
                            <input type="submit" value="GO">
                        </form>
                    </div>
                </div>
            </div>
</div>
        <p class="footer-bottom-text">All Right reserve by &copy; e-Contas.2019</p>